.container-admin {
  color: var(--primary-text);
  font-family: "VarelaRound", sans-serif;
  margin-left: 1em;
  margin-right: 1em;
}
/* Blue Bar */
.title-admin {
  background-color: var(--main-blue);
  font-size: var(--L);
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 1rem;
  margin-top: 1em;
  margin-top: 0.5em;
}

.span-A {
  font-size: 200%;
  font-weight: var(--bold);
  color: var(--main-red);
}
/* DashBoard */
.dashboard {
  background-color: var(--secondary-red);
  border-radius: 3rem;
  height: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.text-masterclass {
  grid-column-start: span 3;
}

.text-dashboard {
  font-size: var(--M);
}

.text-masterclass {
  grid-column-start: span 3;
}

.span-number {
  font-size: var(--XL);
}
/* Select Client / Masterclass */
.btn-red {
  font-family: "VarelaRound", sans-serif;
  border: none;
  background-color: var(--main-red);
  color: var(--primary-text);
  font-size: var(--M);
  border-radius: 40px;
  padding: 0.4em 0.7em;
  cursor: pointer;
}

.btn-blue {
  font-family: "VarelaRound", sans-serif;
  border: none;
  background-color: var(--secondary-text);
  color: var(--primary-text);
  font-size: var(--M);
  border-radius: 40px;
  padding: 0.4em 0.7em;
  cursor: pointer;
}

.selectTask {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1.5em;
}

.span-task {
  font-size: var(--XL);
  padding-bottom: 0.7rem;
}

.select-clients {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3.5rem;
}
.select-masterclass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 3.5rem;
}
/* AdminAbonne */
.showClients {
  box-shadow: 1px;
  border-radius: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--optionnal-text);
  height: 50vh;
}

.buttonClient {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline: 1em;
  border: none;
}

.abonnes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.non-abonnes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.choose-clients {
  background-color: var(--secondary-red);
  width: 75%;
  border: solid 1px var(--main-blue);
  color: black;
  border-radius: 5px;
}
/* AdminMasterclass */

.p-action-masterclass{
  text-align: center;
  font-size: var(--L);
  margin-top: .5em;
  margin-bottom: .5em;
}
.span-action-m{
  color: var(--main-red);
}
.showMasterclass {
  background-color: var(--secondary-red);
  border-radius: 40px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.selectmaster {
  font-family: "VarelaRound", sans-serif;
  width: 80%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.thematique,
.selectMasterclass {
  display: flex;
  justify-content: center;
  background-color: var(--secondary-red);
  width: 70vw;
  border: solid 1px var(--main-red);
  margin-top: 2rem;
  color: var(--primary-text);
}

.buttonPutDelete {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 2rem;
  width: 100%;
}

.btnSend {
  font-family: "VarelaRound", sans-serif;
  background-color: var(--optionnal-text);
  border-radius: 5rem;
  width: 10rem;
  height: 2rem;
  color: var(--primary-text);
  border: none;
  font-size: var(--S);
  cursor: pointer;
}

.btnPut {
  font-family: "VarelaRound", sans-serif;
  background-color: var(--main-red);
  font-weight: var(--bold);
  border-radius: 5rem;
  width: 10rem;
  padding: 1em;
  color: var(--optionnal-text);
  border: none;
  font-size: var(--S);
  cursor: pointer;
}

.btnDel {
  font-family: "VarelaRound", sans-serif;
  background-color: var(--secondary-text);
  font-weight: var(--bold);
  border-radius: 5rem;
  width: 10rem;
  padding: 1em;
  color: var(--optionnal-text);
  border: none;
  font-size: var(--S);
  cursor: pointer;
  margin-bottom: 1.5em;
}

.btnAbonne {
  font-family: "VarelaRound", sans-serif;
  background-color: var(--secondary-red);
  border-radius: 5rem;
  padding: .5rem;
  color: var(--primary-text);
  border: none;
  font-size: var(--M);
  cursor: pointer;
}

/* Add a Masterclass */
.add-masterclass {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}

.form-masterclass {
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.divAdd-masterclass{
  background-color: var(--optionnal-text);
  border-radius: 40px;
}

.formAdd-masterclass{
  flex-direction: column;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 1em;
}

.btnPostMasterclass{
  font-family: "VarelaRound", sans-serif;
  background-color: var(--main-red);
  font-weight: var(--bold);
  border-radius: 5rem;
  width: 10rem;
  padding: 1em;
  color: var(--optionnal-text);
  border: none;
  font-size: var(--S);
  cursor: pointer;
  margin-bottom: 1.5em;
}

.input {
  font-family: "VarelaRound", sans-serif;
  padding-left: 1rem;
  border: 1px solid var(--main-blue);
  border-radius: 1rem;
  width: 70vw;
  height: 2rem;
  color: var(--secondary-text);
  margin-top: .5em;
  margin-bottom: .5em;
}
.i-title{
  font-family: "VarelaRound", sans-serif;
  padding-left: 1rem;
  border: 1px solid var(--main-blue);
  border-radius: 1rem;
  width: 70vw;
  height: 2rem;
  color: var(--secondary-text);
  margin-top: .5em;
  margin-bottom: .5em;
}
.i-desc{
  font-family: "VarelaRound", sans-serif;
  padding-left: 1rem;
  border: 1px solid var(--main-blue);
  border-radius: 1rem;
  width: 70vw;
  min-height: 10em;
  color: var(--secondary-text);
  margin-top: .5em;
  margin-bottom: .5em;
}

@media (min-width: 767.98px) {

  .p-action-masterclass{
    margin-top: 1.5em;
    margin-bottom: 1em;
  }
  .showMasterclass{
    padding-bottom: 0.5em;
  }
  .btnDel:hover{
    background-color: var(--optionnal-text);
    color: var(--main-red);
  }
  .btnPut{
    margin-bottom: 1.5em;
  }
  .btnPut:hover{
    background-color: var(--optionnal-text);
    color: var(--main-red);
  }
  .i-desc{
    width: 75vw;
  }
  .i-title{
    width: 75vw;
  }
  .input{
    width: 35vw;
    margin: .5em;
  }
  .btnAbonne{
    min-width: 12em;
  }
  .container-admin{
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
  .btn-blue, .btn-red{
    min-width: 15em;
  }
  .title {
    font-size: var(--XL);
  }
  .span-title {
    font-size: 3rem;
  }
  .dashboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 2em;
  }
  .text-dashboard {
    font-size: var(--XL);
  }
  .span-number {
    font-size: 3rem;
  }
  .span-task {
    font-size: var(--XL);
    padding-bottom: 0.7rem;
  }
  .select-clients {
    font-size: var(--L);
    width: 50%;
    height: 4.5rem;
  }
  .select-masterclass {
    font-size: var(--L);
    width: 50%;
    height: 4.5rem;
  }
  .thematique,
  .selectMasterclass {
    width: 40vw;
  }
  .span-task {
    font-size: 3rem;
  }
  .selectmaster {
    margin-top: 2rem;
    grid-column-start: span 2;
  }
  .selectTask{
    margin-bottom: 2em;
  }
  .form-masterclass {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
  }
  .add-masterclass{
    margin-bottom: 2.5em;
  }
  .formAdd-masterclass{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-top: 1.5em;
  }
  .btnPostMasterclass{
    justify-self: end;
    margin-bottom: 2em;
    border: 1px solid var(--main-red);
  }
  .btnPostMasterclass:hover{
    background-color: white;
    color: var(--main-red);
    border: 1px solid var(--main-red);
  }
  .labelTitle {
    grid-column-start: span 2;
  }
  .desc {
    grid-column-start: span 2;
  }

}
