.container-admin {
    color: var(--primary-text);
}
/* Blue Bar */
.title {
    background-color: var(--main-blue);
    font-size: var(--L);
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem 1rem;
}

.span-title {
    font-size: var(--XL);
    font-weight: var(--bold);
}
 /* DashBoard */
.dashboard {
    background-color: var(--main-red);
    width: 100vw;
    height: 20rem;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
}

.text-dashboard {
    font-size: var(--M);
}

.span-number {
    font-size: var(--XL);
}
/* Select Client / Masterclass */
.selectTask {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    width: 100%;
}

.span-task {
    font-size: var(--XL);
    padding-bottom: 0.7rem;
}

.select-clients {
    background-color: var(--main-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3.5rem;
}
.select-masterclass {
    background-color: var(--main-red);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 3.5rem;
}
/* AdminAbonne */
.showClients {
    background-color: var(--secondary-blue);
    width: 100%;
    height: 50vh;
    margin-top: 1rem;
}

.buttonClient {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem;
}

.abonnes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.non-abonnes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.choose-clients {
    background-color: var(--secondary-blue);
    width: 70%;
    border: solid 1px var(--main-blue);
}
/* AdminMasterclass */
.showMasterclass {
    background-color: var(--secondary-red);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-bottom: 1rem;
}

.thematique, .selectMasterclass {
    display: flex;
    justify-content: center;
    background-color: var(--secondary-red);
    width: 70vw;
    border: solid 1px var(--main-red);
    margin-top: 2rem;
}

.buttonPutDelete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 2rem;
    width: 100%;
}

.btnPut, .btnDel, .btnSend, .btnAbonne {
  background-color: var(--main-blue);
  border-radius: 5rem;
  width: 10rem;
  height: 2rem;
}
/* Add a Masterclass */
.add-masterclass {
    background-color: var(--secondary-blue);
    width: 100%;
    height: 60vh;
    padding-top: 2rem;
    margin-top: 1rem;
}

.form-masterclass {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.input {
    margin-bottom: 1rem;
    padding-left: 1rem;
    border: 1px solid var(--main-blue);
    border-radius: 1rem;
    width: 70vw;
    height: 2rem;
    color: var(--secondary-text);
}


@media (min-width: 767.98px) {
    .title {
        font-size: var(--XL);
    }
    .span-title {
        font-size: 3rem;
    }
    .dashboard {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .text-dashboard {
        font-size: var(--XL);
    }
    .span-number {
        font-size: 3rem;
    }
    .span-task {
        font-size: var(--XL);
        padding-bottom: 0.7rem;
    }
    .select-clients {
        font-size: var(--L);
        width: 50%;
        height: 4.5rem;
    }
    .select-masterclass {
        font-size: var(--L);
        width: 50%;
        height: 4.5rem;
    }
    .choose-clients, .thematique, .selectMasterclass {
        height: 5rem;
    }
    .thematique, .selectMasterclass {
        width: 40vw;
    }
    .span-task {
        font-size: 3rem;
    }
    .showMasterclass {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2;
        justify-items: center;
    }
    .btnPut, .btnDel, .btnSend {
        width: 20rem;
        height: 3rem;
      }
    .form-masterclass {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .input {
        width: 45vw;
        height: 3rem;
    }
    .i-desc {
        width: 100%;
        height: 8rem;
    }
    .desc {
        height: 10rem;
        width: 95vw;
        grid-column-start: span 2;
   }
    .btnSend {
        grid-column-start: span 2;
        width: 45rem;
    }
    
}