html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "VarelaRound";
  font-style: normal;
  font-weight: normal;
  src: local("VarelaRound-Regular"),
    url("../assets/fonts/VarelaRound-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: normal;
  src: local("Raleway-Regular"),
    url("../assets/fonts/Raleway-Regular.ttf") format("truetype");
}

.App {
  background-color: white;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

#content-wrap {
  min-height: calc(100vh - 280px);
}

@media screen and (min-width: 767.98px) {
  #content-wrap {
    min-height: calc(100vh - 205px);
  }
}

/* VARIABLES */
:root {
  /*Colors*/
  --main-red: rgb(247, 108, 108);
  --secondary-red: #f99797;
  --primary-text: #39424e;
  --secondary-text: #c8c8c8;
  --optionnal-text: #f1f1f1;

  /* Font-Weight */
  --black: 900;
  --extra-bold: 800;
  --bold: 700;
  --semi-bold: 600;
  --regular: 400;

  /* Font-Size */
  --XL: 40px;
  --L: 31.5px;
  --M: 18px;
  --S: 12px;
  --XS: 9px;

  /*Breakpoints 
  @media screen and (min-width: 479.98px)
  @media screen and (min-width: 767.98px)
  @media screen and (min-width: 1199.98px)
  */
}
