@import "../style/App.css";

/* STRUCTURE CARD */
.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1em;
  box-shadow: 5px 5px 10px var(--secondary-text);
}

.card-container:hover {
  -webkit-transform: scale(1.01); /* Safari and Chrome */
  -moz-transform: scale(1.01); /* Firefox */
  -ms-transform: scale(1.01); /* IE 9 */
  -o-transform: scale(1.01); /* Opera */
  transform: scale(1.01);
}

.pCardNameEntreprise {
  font-family: "VarelaRound", sans-serif;
  font-weight: var(--bold);
  font-size: var(--M);
  text-transform: uppercase;
  color: var(--main-red);
  text-align: initial;
  padding: 1em;
}

.contenu-card {
  display: flex;
  flex-direction: row;
  color: var(--primary-text);
  gap: .5em;
}

.logo2 {
  align-self: center;
  width: 4em;
  height: 4em;
  border: 1px solid black;
  margin-left: 0.5em;
}

.title-desc {
  display: flex;
  flex-direction: column;
}

.title-card {
  font-family: "VarelaRound", sans-serif;
  font-weight: var(--bold);
  font-size: var(--M);
  margin-bottom: 0.5em;
  text-align: initial;
}

.overflow-ellipsis {
  width: 100%;
  height: 3.1em;
  overflow-y: scroll;
  font-size: var(--M);
  font-family: "Raleway", sans-serif;
  text-align: initial;
}

.button-start {
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.voir-vid {
  border: none;
  border-radius: 15px;
  padding: 0.5em 2em;
  background-color: var(--main-red);
  font-family: "Raleway", sans-serif;
  color: white;
}
.res-search {
  margin: 1em;
  padding-bottom: 1em;
}


/* MEDIA QUERIES */
@media screen and (min-width: 767.98px) {
  .card-container{
    width: 25em;
    height: 14em;
  }
  .logo2 {
    padding-left: 0.8em;
  }
  .voir-vid:hover {
    background-color: var(--secondary-red);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(77, 77, 77, 0.1);
  }
}
@media screen and (min-width: 1199.98px) {
  .card-container {
    margin: 1em 0;
  }
  .logo2 {
    padding-left: 0.8em;
  }
}
