@import "../style/App.css";

/* STRUCTURE CARD */
.card-container {
    max-width: 150px;
    border-radius: 20px;
    border: 2px solid var(--main-blue);
    margin: auto;
    background-color:white;
    -webkit-box-shadow: 0px 4px 9px 0px rgba(23,56,206,0.87); 
    box-shadow: 0px 4px 9px 0px rgba(23,56,206,0.87);
    margin: 20px auto;
    padding: 1%;
}
.card-container:hover {
    box-shadow: 8px 8px 12px var(--main-blue);
}
.picture-card {
    border-radius: 20px 20px 0 0;
    height: auto;
    width: 78%;
    margin: 5% auto;
}
.information {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    height: 140px;
}
.theme {
    font-size: 0.7rem;
    color: var(--optionnal-text);
    /* letter-spacing: wide;
    font-size: xs; */
    text-transform: uppercase;
    margin-left: 3px;
}
.title-card {
    font-weight: var(--semi-bold);
    text-align: center;
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
}
.description-card {
    text-align: center;
    font-size: 0.8rem;
}
.button {
    display: flex;
    align-items: center;
}
.button-style {
    margin: 0 0 6px 10px;
    color: var(--main-blue);
    font-size: 13px;
    background-color: var(--primary-text);
    cursor: pointer;
}
.button-style:hover {
    text-decoration: underline;
}

/* MEDIA QUERIES */
@media screen and (min-width: 479.98px) {
    .card-container {
        max-width: 170px;
    }
    .title-card {
        font-size: 1.2rem;
    }
}
@media screen and (min-width: 767.98px) {
    .card-container {
        max-width: 230px;
    }
    .information {
        height: 165px;
    }
    .theme {
        font-size: 0.9rem;
        margin-left: 6px;
    }
    .title-card {
        font-size: 1.4rem;
    }
    .description-card {
        font-size: 1rem;
    }
    .button-style {
        font-size: 15px;
    }
}
@media screen and (min-width: 1199.98px) {
    .card-container {
        max-width: 250px;
    }
    .theme {
        font-size: 1.2rem;
    }
    .title-card {
        font-size: 1.7rem;
    }
    .description-card {
        font-size: 1.4rem;
    }
    .button-style {
        font-size: 20px;
    }
    .information {
        height: 200px;
    }
}