@import "../style/App.css";

/********************************
* Carousel styles
*********************************/
.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: 1 0 250px;
  padding: 0 4.2em 0 4.2em;
  scroll-snap-align: start;
}

.carousel-items::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

.carousel-items::-webkit-scrollbar {
  height: 8px;
  background-color: #f5f5f5;
}

.carousel-items::-webkit-scrollbar-thumb {
  background-color: var(--button-color);
  border-radius: 3px;
}
