@import "../style/App.css";

.introSeConnecter {
  color: var(--primary-text);
  display: flex;
  justify-content: end;
  margin: 1em;
}

.titleConnexion {
  font-size: var(--XL);
  font-family: "VarelaRound", sans-serif;
  margin-right: 1rem;
  font-weight: var(--bold);
}

.picStar {
  max-width: 100%;
}

.divPicConnexion {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.divPicConnexionbis {
  display: none;
}

/* partie connexion*/

.formConnection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.login-input {
  width: 15em;
  height: 1.7em;
  padding-left: 10px;
  font-size: var(--S);
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  margin: 0.5em;
}

.passInput {
  width: 15.2em;
  height: 1.9em;
  padding-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: var(--S);
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.inputPassText {
  border: none;
  font-size: var(--S);
}

.buttonShow {
  border: none;
  border-radius: none;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: transparent;
}

.login-button {
  border: none;
  border-radius: 15px;
  padding: 6px 10px;
  background-color: var(--main-red);
  font-family: "Raleway", sans-serif;
  color: white;
}

.textConnex {
  color: var(--primary-text);
  font-weight: var(--semi-bold);
  font-family: "Raleway", sans-serif;
  font-size: var(--S);
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s linear;
}
.textConnex:hover {
  transform: translateY(0px) scale(1.05);
}

.iconeEye {
  height: 100%;
}

.linkInsc {
  text-decoration: none;
}

/* partie inscription*/

.mosaicStar {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.goInscrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* partie modale */

.modalImgClose {
  width: 2rem;
  height: 2rem;
}
.modalClose {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s linear;
  color: white;
  font-size: 2rem;
  margin-left: 20rem;
}
.modalClose:hover {
  transform: translateY(0px) scale(1.25);
}
.modalTitleBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 13rem;
}

.modalTitle {
  font-family: "VarelaRound", sans-serif;
  font-size: 1.5rem;
  margin-top: 3rem;
  color: white;
}

.modalInput {
  width: 13rem;
  height: 2rem;
  margin-bottom: 2rem;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

/* Media querie */

@media screen and (min-width: 767.98px) {
  .titleConnexion {
    display: none;
  }
  .titleConnexionbis {
    display: block;
    font-family: "VarelaRound", sans-serif;
    font-size: var(--L);
    font-weight: var(--bold);
    color: var(--primary-text);
  }

  .divPicConnexion {
    display: none;
  }

  .divPicConnexionbis {
    display: block;
    justify-self: center;
  }

  .pageCo {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .modalClose {
    margin-left: 50rem;
  }
  .modalTitle {
    font-size: var(--L);
  }
  .secPart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modalInput {
    width: 35rem;
    height: 2.5rem;
    margin-bottom: 2rem;
  }
}
