@import "../style/App.css";

.introSeConnecter {
  background-color: var(--main-blue);
  color: var(--primary-text);
  display: flex;
  justify-content: end;
}

.titleConnexion {
  font-size: var(--XL);
  margin-right: 1rem;
}
.monoLetter {
  font-size: 200%;
}

.picStar {
  max-width: 100%;
}

.divPicConnexion {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* partie connexion*/

.formConnection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.login-input {
  width: 285px;
  height: 50px;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-left: 10px;
  font-size: var(--S);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.passInput {
  width: 15em;
  height: 1.7em;
  padding-left: 10px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  font-size: var(--S);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

.inputPassText {
  border: none;
  font-size: var(--S);
}

.buttonShow {
  border: none;
  border-radius: none;
  background: var(--button-color);
  color: var(--optionnal-text);
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.login-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  color: var(--primary-text);
  background-color: var(--main-blue);
  font-size: var(--S);
  letter-spacing: 1px;
  font-weight: var(--semi-bold);
  transition: all 0.15s linear;
  cursor: pointer;
}

.login-button:hover {
  background-color: var(--primary-text);
  border-color: var(--main-blue);
  color: var(--main-blue);
  transform: translateY(-5px) scale(1.05);
}

.login-button:active {
  background-color: transparent;
  border-color: var(--main-blue);
  color: var(--main-blue);
  transform: translateY(5px) scale(0.95);
}

.login-button:disabled {
  background-color: rgba(255, 255, 255, 0.16);
  color: #8e8e93;
  border-color: #8e8e93;
}

.textConnex {
  color: var(--main-blue);
  font-weight: var(--semi-bold);
  font-size: var(--S);
  margin-top: 1em;
  margin-bottom: 1em;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s linear;
}
.textConnex:hover {
  transform: translateY(0px) scale(1.05);
}

.iconeEye {
  height: 90%;
}

.linkInsc {
  text-decoration: none;
}

/* partie inscription*/

.mosaicStar {
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
}

.goInscrip {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* partie modale */

.modalImgClose {
  width: 2rem;
  height: 2rem;
}
.modalClose {
  width: 2rem;
  height: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.15s linear;
  color: white;
  font-size: 2rem;
  margin-left: 20rem;
}
.modalClose:hover {
  transform: translateY(0px) scale(1.25);
}
.modalTitleBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 13rem;
}

.modalTitle {
  font-size: 1.5rem;
  margin-top: 3rem;
  color: white;
}

.modalInput {
  width: 13rem;
  height: 2rem;
  margin-bottom: 2rem;
}

.modalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

/* Media querie */

@media screen and (min-width: 1199.98px) {
  .pageCo {
    display: flex;
    align-items: center;
    margin-left: 1em;
  }
  .divPicConnexion {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .modalClose {
    margin-left: 50rem;
  }
  .modalTitle {
    font-size: var(--L);
  }
  .formConnection {
    width: 50%;
  }
  .secPart {
    width: 50%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-left: 2px solid var(--main-blue);
  }
  .mosaicStar {
    width: 95%;
  }
  .modalInput {
    width: 35rem;
    height: 2.5rem;
    margin-bottom: 2rem;
  }
}
