@import "../style/App.css";

.introContact {
  background-color: var(--main-blue);
  color: var(--primary-text);
  display: flex;
  justify-content: end;
}
.titleContact {
  font-size: var(--XL);
  margin-right: 1rem;
}
.monoLetter {
  font-size: 200%;
}
.picStar {
  max-width: 100%;
}

/* listFAQ */

.popularQuestions{
  background-color: var(--secondary-red);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

.selectQuestions{
  font-size: var(--M);
  margin-bottom: 1em;
}

.answerDiv{
  font-size: var(--L);
  color: var(--primary-text);
  margin-inline: 1em;
}