@import "../style/App.css";

.main-div-contact{
  font-family: "VarelaRound", sans-serif;
}

.introContact {
  background-color: var(--main-blue);
  color: var(--primary-text);
  text-align: center;
  height: 5rem;
  padding-top: 1em;
  padding-bottom: .5em;
}
.titleContact {
  font-size: var(--XL);
  font-weight: var(--bold);
  margin: 1rem;
}
.monoLetter {
  font-size: 200%;
}
.picStar {
  max-width: 100%;
}

/* listFAQ */

.popularQuestions {
  background-color: var(--optionnal-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: .5em;
  margin-right: .5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-radius: 40px;
}
.pfaq{
  font-size: var(--L);
  font-family: "VarelaRound", sans-serif;
  color: var(--primary-text);
  margin-inline: 1em;
  margin-bottom: .5em;
}

.selectQuestions {
  background-color: rgba(245, 207, 206);
  border: none;
  text-align: center;
  font-size: var(--M);
  font-family: "VarelaRound", sans-serif;
  color: var(--primary-text);
  margin-bottom: 1em;
  padding: 0.2em;
  max-width: 100%;
  border-radius: 5px;
}

.answerDiv {
  font-size: var(--M);
  color: var(--primary-text);
  margin-inline: 1em;
  text-align: center;
}

/* formContact */

.divFormContact {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 1em;
}

.askContact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 100%;
}

.pAsk {
  font-size: var(--M);
  font-weight: var(--bold);
  color: var(--main-red);
  padding-bottom: 1em;
  text-align: center;
}

.askButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-inline: auto;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: var(--main-red);
  font-size: var(--S);
  letter-spacing: 1px;
  font-weight: var(--semi-bold);
  max-width: 100%;
  font-family: "VarelaRound", sans-serif;
}

.formHidden {
  display: none;
}

.formContact {
  padding-top: 1.2em;
  padding-bottom: 1em;
  background-color: var(--secondary-red);
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 100%;
  border-radius: 40px;
}

.contactInput {
  height: 1.7em;
  margin-inline: auto;
  margin-bottom: 1em;
  width: 80%;
  font-size: var(--S);
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: "VarelaRound", sans-serif;
}

.contactButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-inline: auto;
  padding: 0.5rem 2.5rem;
  border-radius: 2rem;
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: var(--main-red);
  font-size: var(--S);
  letter-spacing: 1px;
  font-weight: var(--semi-bold);
  transition: all 0.15s linear;
  cursor: pointer;
  max-width: 60%;
  font-family: "VarelaRound", sans-serif;
}

.contactButton:hover {
  background-color: var(--optionnal-text);
  border-color: var(--main-red);
  color: var(--main-red);
  transform: translateY(-5px) scale(1.05);
}

.contactButton:active {
  background-color: transparent;
  border-color: var(--main-red);
  color: var(--main-red);
  transform: translateY(5px) scale(0.95);
}

.contactButton:disabled {
  background-color: var(--secondary-red);
  color: #8e8e93;
  border-color: #8e8e93;
}

/* Media queries */

@media screen and (max-width: 767.98px) {
  .titleFaq,
  .imglongin {
    display: none;
  }
}

@media screen and (min-width: 767.98px) {
  .pageFAQ {
    display: flex;
  }
  .pfaq{
    padding-top: .7em;
    padding-bottom: .3em;
  }
  .titleContact {
    text-align: end;
    margin-right: 1.5em;
  }
  .imglongin{
    margin-left: .5em;
    margin-bottom: 1em;
  }
  .popularQuestions{
    margin-left: 1.5em;
    margin-right: 1.5em;
  }
  .answerDiv {
    text-align: center;
    width: 80%;
  }
  .askContact {
    flex-direction: row;
    align-content: center;
    width: 100%;
  }
  .pAsk {
    padding-bottom: 0;
  }
  .askButton {
    margin-inline: 0;
    border-radius: 0.2rem;
    border: none;
  }
  .formHidden {
    padding-top: 1.2em;
    background-color: var(--secondary-red);
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-inline: 1em;
    border-radius: 40px
  }
  .divFormContact{
    margin-inline: 1.5em;
  }
  .formContact {
    padding-top: 1.2em;
    padding-bottom: 1em;
    background-color: var(--secondary-red);
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .sep {
    border: 1px solid white;
  }
  .mosaicPicStar {
    width: 25%;
  }
  .componentFAQ {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .mosaicStarFaq {
    max-width: 100%;
  }
  .mosaicPicStar {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    background-color: white;
    align-items: center;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .mosaicStarHidden {
    max-width: 100%;
    opacity: 0;
  }
  .contactInput{
    padding: .3em;
    height: 2em;
  }
  .contactButton{
    margin-top: 2em;
  }
}
