.footer {
  background-color: #1738ce;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
  font-weight: 600;
}

.logoFooter {
  height: 10em;
}

.linksFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listeRSfooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
}

.listIconesRS {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.liIcone {
  margin-left: 1em;
  margin-right: 1em;
}
.linkIntern {
    margin-top: .7em;
    margin-bottom: .7em;
  }

/* media querie */

@media screen and (min-width: 768px) {
  .footer {
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 2em;
  }
  .linkIntern {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }
  .listeRSfooter {
    padding-top: 0;
  }
  .listeRes {
    padding-top: 1em;
  }
  .linksFooter {
    align-items: baseline;
  }
  .listIconesRS {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logoFacebook,
  .logoInstagram,
  .logoTwitter {
    height: 3em;
  }
}
