@import "../style/App.css";

.container-home {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/*START Mobile Version*/

@media screen and (max-width: 767.98px) {
  .carousel-home {
    display: none;
  }
}

.logo-top {
  background-color: var(--main-blue);
}

.logo-top img {
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro-text p {
  padding: 2rem;
  font-size: var(--S);
  color: var(--secondary-text);
  text-align: center;
  line-height: 1.5em;
}

.home-mosaic {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(3, 32.95%);
}

.square {
  background-color: var(--main-red);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2em;
}

.square-pic > img {
  max-width: 100%;
}

.text {
  color: var(--primary-text);
  text-align: right;
  font-size: var(--S);
}

.text p:nth-child(1) {
  font-weight: var(--bold);
  text-transform: uppercase;
}

.text p:nth-child(2) {
  font-weight: var(--bold);
  text-transform: uppercase;
  padding-top: 0.7em;
}

.text p:nth-child(3) {
  padding-top: 0.7em;
}

.square-two {
  background-color: var(--main-blue);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2em;
}

.text-turn {
  color: var(--primary-text);
  text-align: left;
  font-size: var(--S);
}

.text-turn p:nth-child(1) {
  font-weight: var(--bold);
  text-transform: uppercase;
}

.text-turn p:nth-child(2) {
  font-weight: var(--bold);
  text-transform: uppercase;
  padding-top: 0.7em;
}

.text-turn p:nth-child(3) {
  padding-top: 0.7em;
}

.video-sample-area {
  background-color: var(--secondary-red);
  margin-top: 1.5em;
}

.video-sample > video {
  width: 100%;
  height: 100%;
}

.video-sample-area p {
  padding: 2rem;
  font-size: var(--S);
  color: var(--secondary-text);
  text-align: center;
  line-height: 1.5em;
}

.subscribing-area {
  position: relative;
  top: 1.5em;
  bottom: -1em;
  padding: 1em 1.5em 3em 1.5em;
  background-color: var(--secondary-blue);
}

.subscribing-area h2 {
  color: var(--primary-text);
  font-weight: var(--bold);
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
}

.subscribe {
  margin-top: 1.6em;
  padding: 0rem 2rem 0 1rem;
  background-color: var(--primary-text);
  border-radius: 15px;
  box-shadow: 2px 3px 7px rgba(26, 26, 26, 0.4);
}

.subscribe-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscribe-title h3 {
  font-size: var(--S);
  color: var(--main-blue);
  font-weight: var(--bold);
}

.subscribe-title p {
  margin-top: -3px;
  font-size: var(--S);
  font-weight: var(--bold);
  padding-top: 0.5em;
}

.subscribe-title span {
  text-transform: uppercase;
  font-size: var(--XS);
  letter-spacing: 2px;
}

.sub-button {
  border: none;
  background-color: var(--primary-text);
}

.arrow {
  padding-top: 0.4em;
  width: 70%;
}

.container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 15px 5px;
  grid-template-areas:
    "BOX-1 BOX-2"
    "BOX-3 BOX-4"
    "BOX-5 BOX-6"
    "BOX-7 BOX-8"
    "BOX-9 BOX-10"
    "BOX-11 BOX-11";
  align-items: center;
  padding: 1rem;
  font-size: 0.9rem;
}

.box-1 {
  grid-area: BOX-1;
}
.box-2 {
  grid-area: BOX-2;
}
.box-3 {
  grid-area: BOX-3;
}
.box-4 {
  grid-area: BOX-4;
}
.box-5 {
  grid-area: BOX-5;
}
.box-6 {
  grid-area: BOX-6;
}
.box-7 {
  grid-area: BOX-7;
}
.box-8 {
  grid-area: BOX-8;
}
.box-9 {
  grid-area: BOX-9;
}
.box-10 {
  grid-area: BOX-10;
}
.box-11 {
  grid-area: BOX-11;
}

.check-logo {
  width: 20%;
}

.options-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 10px;
  background-color: var(--main-blue);
  height: 1.5rem;
}

.options-button > p {
  font-family: Roboto, sans-serif;
  color: var(--primary-text);
  font-weight: var(--bold);
  letter-spacing: 0.5px;
}
/*END Mobile Version */

/*START Tablet and Laptop Version */
@media screen and (min-width: 767.98px) {
  .top-page {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 1.5em 4em;
    background-color: var(--main-blue);
  }

  .logo-top img {
    width: 100%;
    height: 100%;
  }

  .home-mosaic {
    display: none;
  }

  .intro-text p {
    color: var(--primary-text);
    text-align: center;
    padding: 0;
    padding-right: 7em;
  }

  .video-sample {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
  }

  .video-sample video {
    padding: 2em;
    width: 50%;
    height: 50%;
  }

  .video-sample-area p {
    font-weight: var(--bold);
  }

  .subscribing-area {
    position: relative;
    bottom: -1em;
  }

  .subscribing-area h2 {
    position: relative;
    top: 0.5em;
    bottom: -1em;
  }

  .subscribe-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin: 2em 3em 0 3em;
  }

  .subscribe {
    height: 25rem;
    width: 15rem;
    margin: 2em;
  }

  .sub-button {
    display: none;
  }

  .subscribing-options {
    display: none;
  }
}
/*END Tablet and Laptop Version */
