@import "../style/App.css";

.introSinscrire {
  color: var(--primary-text);
  display: flex;
  text-align: center;
  margin: 1em;
}

.titleInsc {
  font-size: var(--XL);
  font-family: "VarelaRound", sans-serif;
  margin-right: 1rem;
  font-weight: var(--bold);
}

.accent {
  color: var(--main-red);
}

.titleInscbis {
  display: none;
}

.divPicIntro {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.divPicIntrobis {
  display: none;
}

.picStar {
  border-radius: 10px;
  width: 25em;
  height: 2em;
  object-fit: cover;
}

.picLogin {
  display: none;
}

/* partie connexion*/

.formInsc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.login-input {
  width: 23em;
  height: 2.5em;
  padding-left: 10px;
  font-size: var(--S);
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  margin: 0.5em;
}

.passInput {
  width: 23.2em;
  height: 2.7em;
  padding-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: var(--S);
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

[type="checkbox"] {
  cursor: pointer;
}

.cgv-check {
  height: 1em;
  width: 1em;
}

.checkBinsc {
  font-size: var(--S);
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.inputPassText {
  width: 100%;
  border: none;
  font-size: var(--S);
}

.buttonShow {
  border: none;
  border-radius: none;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.login-button {
  border: none;
  border-radius: 15px;
  padding: 6px 10px;
  background-color: var(--main-red);
  font-family: "Raleway", sans-serif;
  color: white;
}

.textInsc {
  color: var(--primary-text);
  font-weight: var(--semi-bold);
  font-size: var(--S);
  margin-top: 1em;
  margin-bottom: 1em;
}

.iconeEye {
  height: 100%;
}

.linkInsc {
  text-decoration: none;
}

/* partie inscription*/

.secoPart {
  padding-top: 0.5em;
}

.goInscrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 2em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px solid var(--main-red);
}

/* Verification Form */
.text-danger {
  color: var(--main-red);
  font-size: var(--XS);
}

.verif-form {
  display: flex;
  flex-direction: column;
  margin: 0.5em;
}

/* Media querie */

@media screen and (min-width: 767.98px) {
  .introSinscrire {
    display: none;
  }
  .titleInscbis {
    padding-bottom: 1em;
    display: block;
    font-family: "VarelaRound", sans-serif;
    font-size: var(--XL);
    font-weight: var(--bold);
    color: var(--primary-text);
  }

  .picLogin {
    display: flex;
    height: 80%;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
  }

  .divPicIntro {
    display: none;
  }

  .divPicIntrobis {
    display: contents;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
  }

  .pageInsc {
    padding-top: 0.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .picStar {
    width: 40%;
    height: 40%;
  }

  .passInput {
    margin-bottom: 3em;
  }
  .checkBinsc {
    font-size: var(--M);
  }
  .formInsc {
    width: 50%;
    margin-top: 0;
    padding-bottom: 2em;
  }
  .cgv-check {
    height: 1.2em;
    width: 1.2em;
    margin-right: 1em;
  }
  .secoPart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login-button {
    border-radius: 1em;
    padding: 0.5em 1em;
    font-size: var(--M);
    margin-top: 1.5em;
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }
  .login-button:hover {
    background-color: var(--secondary-red);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(77, 77, 77, 0.1);
    color: white;
  }
  .goInscrip {
    width: 25em;
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
  .textInsc {
    font-size: var(--M);
  }
}
