@import "../style/App.css";

.introSinscrire {
  color: var(--primary-text);
  display: flex;
  justify-content: end;
  margin: 1em;
}

.titleInsc {
  font-size: var(--XL);
  font-family: "VarelaRound", sans-serif;
  margin-right: 1rem;
  font-weight: var(--bold);
}

.titleInscbis {
  display: none;
}

.divPicIntro {
  margin: 1em;
  display: flex;
  justify-content: center;
}

.divPicIntrobis {
  display: none;
}

.picStar {
  border-radius: 10px;
  width: 25em;
  height: 2em;
  object-fit: cover;
}

/* partie connexion*/

.formInsc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.login-input {
  width: 15em;
  height: 1.7em;
  padding-left: 10px;
  font-size: var(--S);
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  margin: 0.5em;
}

.passInput {
  width: 15.2em;
  height: 1.9em;
  padding-left: 10px;
  margin-top: 0.5em;
  margin-bottom: 1.5em;
  font-size: var(--S);
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
}

[type="checkbox"] {
  cursor: pointer;
}

.cgv-check {
  height: 1em;
  width: 1em;
}

.checkBinsc {
  font-size: var(--S);
  margin-bottom: 1em;
  display: flex;
  align-items: center;
}

.inputPassText {
  border: none;
  font-size: var(--S);
}

.buttonShow {
  border: none;
  border-radius: none;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.login-button {
  border: none;
  border-radius: 15px;
  padding: 6px 10px;
  background-color: var(--main-red);
  font-family: "Raleway", sans-serif;
  color: white;
}

.textInsc {
  color: var(--primary-text);
  font-weight: var(--semi-bold);
  font-size: var(--S);
  margin-top: 1em;
  margin-bottom: 1em;
}

.iconeEye {
  height: 100%;
}

.linkInsc {
  text-decoration: none;
}

/* partie inscription*/

.secoPart {
  padding-top: 1em;
}

.goInscrip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  margin-top: 1em;
}

/* Media querie */

@media screen and (min-width: 767.98px) {
  .titleInsc {
    display: none;
  }
  .titleInscbis {
    display: block;
    font-family: "VarelaRound", sans-serif;
    font-size: var(--L);
    font-weight: var(--bold);
    color: var(--primary-text);
  }

  .divPicIntro {
    display: none;
  }

  .divPicIntrobis {
    display: block;
    justify-self: center;
  }

  .pageInsc {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .picStar {
    width: 90%;
    height: 190%;
    margin-bottom: 2em;
  }

  .formInsc {
    width: 50%;
  }
  .cgv-check {
    height: 1.2em;
    width: 1.2em;
    margin-right: 1em;
  }
  .secoPart {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .login-button {
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }
  .login-button:hover {
    background-color: var(--secondary-red);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(77, 77, 77, 0.1);
    color: white;
  }
}
