.my-profil {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.user-table {
  max-width: 900px;
  width: 100%;
  margin: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-table td {
  width: 100%;
  font-size: em;
}

.user-table p {
  font-weight: 600;
  padding-bottom: 5px;
  color: var(--primary-text);
}

.buttonShow p {
  font-weight: 500;
  font-family: "Raleway", sans-serif;
  font-size: 10px;
}

.user-table div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-table div input {
  height: 2em;
  width: 100%;
  padding-left: 10px;
  font-size: 0.9em;
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  color: var(--primary-red);
  margin: 8px 0;
}

.button-profil {
  border: none;
  border-radius: 15px;
  padding: 6px 10px;
  background-color: var(--main-red);
  color: white;
  margin: 0.6em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.container-password-profil {
  display: flex;
  flex-direction: column;
}

.modify-input {
  height: 2em;
  width: 100%;
  padding-left: 10px;
  font-size: 0.9em;
  background: white;
  border: 1px solid var(--secondary-text);
  border-radius: 4px;
  color: var(--primary-red);
}

.logo-profile {
  display: none;
}

.text-danger-profil {
  color: var(--main-red);
  font-size: var(--XS);
  margin-bottom: 1.2em;
}

@media screen and (min-width: 767.98px) {
  .logo-profile {
    display: block;
    padding: 0.5em;
    width: auto;
    height: 550px;
  }

  .my-profil {
    flex-direction: row;
  }

  .button-profil {
    font-family: "Raleway", sans-serif;
    background-color: var(--main-red);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  }

  .button-profil:hover {
    background-color: var(--secondary-red);
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(77, 77, 77, 0.1);
  }
}
