.contBtn {
  display: flex;
  justify-content: center;
}

.ongletLeft {
  width: 40%;
  height: 50px;
  font-size: large;
  font-family: "VarelaRound", sans-serif;
  display: flex;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 3px #f99797;
  background-color: transparent;
  color: var(--main-red);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ongletLeftActive {
  width: 60%;
  height: 50px;
  font-size: x-large;
  display: flex;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 3px #f76c6c;
  color: var(--secondary-red);
  font-weight: var(--semi-bold);
  background-color: transparent;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ongletRight {
  width: 40%;
  height: 50px;
  font-size: large;
  font-family: "VarelaRound", sans-serif;
  display: flex;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 3px #f99797;
  background-color: transparent;
  color: var(--main-red);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ongletRightActive {
  width: 60%;
  height: 50px;
  font-size: x-large;
  display: flex;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: solid 3px #f76c6c;
  font-weight: var(--semi-bold);
  color: var(--secondary-red);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
