.contBtn {
  display: flex;
  justify-content: center;
}

.ongletLeft {
  width: 40%;
  height: 50px;
  font-size: large;
  display: flex;
  background-color: var(--main-blue);
  color: var(--primary-text);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ongletLeftActive {
  width: 60%;
  height: 50px;
  font-size: x-large;
  display: flex;
  background-color: var(--main-blue);
  color: var(--primary-text);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ongletRight {
  width: 40%;
  height: 50px;
  font-size: large;
  display: flex;
  background-color: var(--main-red);
  color: var(--primary-text);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ongletRightActive {
  width: 60%;
  height: 50px;
  font-size: x-large;
  display: flex;
  background-color: var(--main-red);
  color: var(--primary-text);
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
