/* Page Search */

.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "VarelaRound", sans-serif;
}

/* Title Masterclass */

.div-title {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.title {
  color: var(--primary-text);
  font-size: var(--XL);
  font-weight: var(--bold);
  margin: 1rem;
}
.span-title {
  color: var(--main-red);
  font-weight: var(--extra-bold);
}
/* Search Bar */
.search-section {
  width: 100%;
}

.search-bar {
  height: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.searching {
  background-color: rgba(218, 212, 212, 0.465);
  border-radius: 1rem;
  padding-left: 2rem;
  height: 2rem;
  width: 50vw;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.logo-search {
  width: 1.7rem;
}
.btnlogo {
  border: none;
  background-color: transparent;
}

/* Search Select Theme */

.search-theme {
  padding-top: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}
.btnSearchTheme {
  font-family: "VarelaRound", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 10rem;
  background-color: var(--main-red);
  border: none;
  border-radius: 40px 40px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.letter-t {
  color: whitesmoke;
  font-size: 5rem;
  margin-right: 0.1em;
}
.letters {
  display: flex;
  margin-top: 1.4rem;
}
.recherche {
  color: black;
  font-weight: var(--bold);
  font-size: var(--M);
}
.hematiques {
  color: whitesmoke;
  font-weight: var(--bold);
  font-size: var(--M);
  margin-top: 0.3em;
}
.logo-arrow {
  display: flex;
  align-self: center;
  margin-left: 2em;
}
.logo-arrow:hover {
  cursor: pointer;
}

/* Search Select Jobs */

.search-metier {
  margin-left: 1em;
  margin-right: 1em;
  padding-bottom: 0.5em;
}

.btnSearchMetier {
  font-family: "VarelaRound", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 10rem;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btnsearchmetier {
  font-family: "VarelaRound", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  width: 100%;
  height: 10rem;
  border: none;
  border-radius: 0px 0px 40px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.letter-m {
  color: var(--main-red);
  font-size: 5rem;
  margin-right: 0.1em;
}

.etiers {
  color: var(--main-red);
  font-weight: var(--bold);
  font-size: var(--M);
  margin-top: 0.3em;
}

/* Result Search Theme */

.list-theme {
  background-color: var(--secondary-red);
  color: var(--primary-text);
  font-weight: var(--bold);
  padding: 1rem;
  line-height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.li-theme {
  border: none;
  background: none;
  padding: 0.2em;
  color: var(--primary-text);
  font-size: var(--M);
}
.li-theme:hover {
  color: whitesmoke;
  text-decoration: underline;
  cursor: pointer;
}

/* Result Search Jobs */

.list-metier {
  background-color: var(--secondary-red);
  color: var(--primary-text);
  font-weight: var(--bold);
  padding: 1rem;
  line-height: 2rem;
  border-radius: 0px 0px 40px 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* Result Search Section */

.result-masterclass {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.result-mastersearch {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

@media screen and (min-width: 767.98px) {
  .separation {
    display: none;
  }
  .list-theme,
  .list-metier {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 3rem 0rem;
  }
  .result-masterclass {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .search-theme,
  .search-metier {
    margin-left: 2em;
    margin-right: 2em;
  }
  .result-mastersearch {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .card-container {
    margin-right: 2em;
    margin-left: 2em;
  }
}


/* animation div */

.vignets {
    
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari et Chrome */
  -o-animation: fadein 1s; /* Opera */
}
@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* sur Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* sur Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}