/* Page Search */
.search-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Title Masterclass */
.div-title {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--main-blue);
    font-size: var(--XL);
}
.span-title {
    color: var(--main-red);
    font-weight: var(--bold);
}
/* Search Bar */
.search-section {
    width: 100%;
}

.search-bar {
    height: 2rem;
    margin: 1rem;
}
.searching {
    background-color: rgba(218, 212, 212, 0.691);
    border-radius: 1rem;
    padding-left: 2rem;
    height: 2rem;
    width: 50vw;
}
.logo-search {
    width: 1.7rem;
}
/* Search Select Theme */
.btnSearchTheme {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 10rem;
    background-color: var(--main-red);
}
.letter-t {
    color: var(--main-blue);
    font-size: 5rem;
}
.letters {
    display: flex;
    margin-top: 1.4rem;
}
.recherche {
    color: var(--white);
}
.hematiques {
    color: var(--main-blue);

}
/* Search Select Jobs */

/* Result Search Theme */

/* Result Search Jobs */

/* Result Search Section */

.metiers {
    color: var(--secondary-blue);
}

@media screen and (min-width: 767.98px){
    .logo-inspiraction {
        display: none;
    }
}
    
