@import "../style/App.css";

/* VIDEO */
.container-video {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    margin: auto;
}
.video {
    width: 100%;
}

/* PARTIE DESCRIPTIVE DE LA VIDEO */
.description-video {
    display: flex;
    background-color: var(--secondary-blue);
    padding: 10px; 
}
.picture-video {
    display: none;
}
.text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.text-top {
    display: flex;
    justify-content: space-between;
    padding: 7px 10px;
    align-items: center;
}
.title-video {
    font-size: 1.5rem;
    color: var(--primary-text);
    text-align: center;
    text-shadow: 1px 1px var(--optionnal-text);
    font-family: "Open Sans", sans-serif;
}
.isFavorite {
    width: 30px;
    height: 30px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg");
    background-size: 100%;
    align-self: flex-start;
    border: none;
    background-color: transparent;
  }
.notFavorite {
    width: 30px;
    height: 30px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
    background-size: 100%;
    align-self: flex-start;
    border: none;
    background-color: transparent;
}
.text-bottom {
    font-size: 0.9rem;
    color: var(--primary-text);
    text-align: justify;
    padding: 0 8px;
    line-height: normal;
}
.time-video {
    font-size: 0.8rem;
    color: var(--primary-text);
    text-align: end;
}


/* MEDIA QUERIES */
@media screen and (min-width: 479.98px) {
    .title {
        font-size: 1.9rem;
    }
    .text-bottom {
        font-size: 1.1rem;
        text-align: center;
        padding: 0 30px;
    }
    .time-video {
        font-size: 1rem;
    }
    .isFavorite {
        width: 35px;
        height: 35px;
    }
    .notFavorite {
        width: 35px;
        height: 35px;
    }
}

@media screen and (min-width: 767.98px) {
    .text-bottom {
        font-size: 1.5rem;
    }
    .title-video {
        font-size: 2rem;
    }
}

@media screen and (min-width: 1199.98px) {
    .picture-video {
        display: initial;
        width: 80%;
        border-radius: 2px;
        margin: auto;
    }
    .text-bottom {
        font-size: 1.9rem;
    }
    .title-video {
        font-size: 2.8rem;
        padding-left: 20px;
    }
    .time-video {
        font-size: 1.6rem;
    }
    .description-video {
        padding: 25px;
        margin-top: 2em;
    }
    .isFavorite {
        width: 40px;
        height: 40px;
    }
    .notFavorite {
        width: 40px;
        height: 40px;
    }
}