@import "../style/App.css";

/* VIDEO */
.container-video {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: auto;
}
.video {
  width: 100%;
}

/* PARTIE DESCRIPTIVE DE LA VIDEO */
.description-video {
  padding: 10px;
  border-bottom: solid 1.5px #f99797;
  margin-bottom: 1em;
}
.picture-video {
  width: 20vh;
  display: none;
}
.text-top {
  display: flex;
  justify-content: space-between;
  padding: 7px 10px;
  align-items: center;
  align-content: center;
}
.title-video {
  font-size: 1.3em;
  color: var(--primary-text);
  text-align: center;
  font-family: "VarelaRound", sans-serif;
  font-weight: var(--bold);
}
.isFavorite {
  width: 30px;
  height: 30px;
  background-image: url("https://i.imgur.com/Sj89INk.png");
  background-size: 100%;
  align-self: flex-start;
  border: none;
  background-color: transparent;
}
.notFavorite {
  width: 30px;
  height: 30px;
  background-image: url("https://i.imgur.com/gfUIjAL.png");
  background-size: 100%;
  align-self: flex-start;
  border: none;
  background-color: transparent;
}

.notFavorite:hover {
  cursor: pointer;
}

.text-bottom {
  font-size: var(--S);
  color: var(--primary-text);
  text-align: start;
  padding: 0 1em;
  line-height: normal;
  margin-bottom: 1em;
}
.time-video {
  font-size: 0.8rem;
  color: var(--primary-text);
  text-align: end;
  margin-right: 1em;
}

/* MEDIA QUERIES */
@media screen and (min-width: 479.98px) {
  .title-video {
    margin-top: 0.5em;
    font-size: 2.3em;
  }
  .description-video {
    padding: 0;
  }
  .text-top {
    padding: 1em 0;
  }
  .text-bottom {
    padding: 0;
    font-size: 1.5em;
  }
  .time-video {
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 767.98px) {
  .title-video {
    font-size: 2rem;
  }
}
